#pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: font-weight .3s;
}

#pagination a.active {
  font-weight: bold;
}

#pagination a.next {
  font-weight: bold; 
}


::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #010101; 
}



.custom-bg {
  background: rgba(255, 255, 255, 0.96);
}
#container {
  position: relative;
}
#sidebarCollapse {
  
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: ">";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #D9D9D9;
  border: none;
  cursor: pointer;
}

/* #sidebarCollapse::after {
  content: "<";
  font-size: 24px;
  color:black;
  display: flex;
  justify-content: center;
  background-color: gray;
  align-items: center;
  height: 100%;
  border-radius: 50%;
} */

.circle-btn {
  width: 40px;
  height: 40px;
  background-color: #3490dc;
  border-radius: 50%;
  cursor: pointer;
}

#sidebar {
  width: 300px;
}

.rotate-left {
  transform: rotate(180deg);
}

.rotate-right {
  transform: rotate(0deg);
}